.tab-bar {
    --tab-bar-tab-height: 4.25rem;

    block-size: 100%;
    display: flex;
    align-items: flex-end;
    gap: 0.6rem;
    overflow: hidden;
    padding-block: 0.2rem 0.1rem;
    padding-inline: 0.4rem;
    background: var(--color-app-surface-subtle);
    border-block-end: 0.1rem solid var(--color-app-border);
}
