@use "../../styles/UiMixins" as ui;

.requirement-details-panel {
  block-size: 100%;
  padding: var(--ui-panel-padding);

  @include ui.flex-column-panel(auto);
}

.requirement-details-panel__title {
  flex: 0 0 auto;
  margin: 0 0 1rem;
  font-size: var(--font-size-h5);
  line-height: var(--line-height-heading);
  color: var(--color-app-text);
}

.requirement-details-panel__details-list {
  @include ui.details-list;
}

.requirement-details-panel__details-row {
  @include ui.details-row;
}
