.project-categories-details-page {
    block-size: 100%;
    min-block-size: 0;
    padding: var(--ui-page-padding);
    background: var(--color-app-background);
    font-size: var(--font-size-small);
}
